h1{
  text-align: center;
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/190326-strawberry-tart-horizontal-2-1554319677.png?crop=1xw:0.8435280189423836xh;center,top&resize=1200:*');
  color: Black;font-family: Brush Script MT, cursive;font-size:500%;
}

background{
  background-color: MistyRose;
}

h2{
  text-align: left;
  color: Black; font-family: Trebuchet MS, sans-serif;
}

  
h3{
  text-align: center;
  color: Black;font-family: Trebuchet MS, sans-serif;
}

 a:link, a:visited {
  link-align: center;
  background-color: LightPink;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: PaleVioletRed;
}

