h1{
  text-align: center;
  background-image: MistyRose;LightPink;
  color: LightPink;font-family: Brush Script MT, cursive;font-size:500%;
}

background{
  background-color: MistyRose;
}

h2{
  text-align: left;
  color: Black; font-family: Trebuchet MS, sans-serif;
}

  
h3{
  text-align: center;
  color: Black;font-family: Trebuchet MS, sans-serif;
}

 a:link, a:visited {
  link-align: center;
  background-color: LightPink;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: PaleVioletRed;
}

a{
  link-align: center;
  padding: 0px 0px;

}

